{% extends '.././base_generic.html' %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
{% load static %}
{% load filters %}
<!-- Navigation bar -->
<nav class="navbar border-bottom border-grey sticky-top navbar-expand-lg navbar-light" style="background-color: #fff;">
    <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../"><i class="fas fa-home" style="color:#8CCEF9;"></i> Home</a>
            </li>
            <li>
                <a class="nav-link" href="#"><i class="fas fa-envelope" style="color:#8CCEF9;"></i> Inbox</a>
            </li>
            <li>
                <a class="nav-link" href="#"><i class="fas fa-calendar" style="color:#8CCEF9;"></i> Calendar</a>
            </li>
            <button id="referral" type="button" class="btn btn-sm btn-follow"><i class="fas fa-bullhorn"></i> Alerts</button>
        </ul>
        <div>
		    <a class="btn btn-search-bar" href="#" role="button"><i class="fas fa-question-circle"></i> Help</a>
            <a class="btn" href="/logout/"><i class="fa fa-sign-out-alt"></i> Logout</a>
        </div>
        <ul class="navbar-nav">
            <div class="dropdown navbar-user-dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/password_change">Settings</a>
                </div>
            </div>
            <form class="navbar-form" role="search">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
    </div>
    
</nav>

<!-- Body of Home Page -->
<div class='container' style='padding-top: 10px;'>
    <div class="row justify-content-md-center">
        <!-- 1st column -->
        <div class="col-lg-auto col-md-auto col-sm-4" style='background-color:#fff;'>
            <div class="content-panel">
                <div class="panel-header">
                    <div align="center">
                        <h4 align="center">{{request.user.first_name}} {{request.user.last_name}}</h4>
                        <div align="center">
                            <input type="image" style="height: 100px;width: 100px;border-radius: 50%;" src="{% static 'images/image3.jpeg' %}">
                        </div>
                    </div>
                    <div align="center">
						<br/>
						<h6>{{request.user.professor.department.dept_id}} Faculty</h6>
          				<span class="profile-email">{{request.user.username}}</span>
          				<br/>
          				<br/>
          				<button type="submit" name="profile" class="btn btn-follow">Profile</button>
          			</div> 
                </div>
            </div>
            <hr />
            <div class="content-panel">
                <div class="panel-header">
                    <h5 align="center"><span>Announcements</span></h5>
                    <div align="center"><button type="submit" name="profile" class="btn btn-follow">New</button></div>
                </div>
            </div>
            <hr />
            <div align="center">
                <strong>
                    EE320
                </strong>
            </div>
            <div align="center" style="max-width:200px;">
                Please complete the HW before due date!
            </div>
            <hr />
            <div align="center">
                <strong>
                    MATH141
                </strong>
            </div>
            <div align="center" style="max-width:200px;">
                Don't forget to bring your calculator for exam on Friday!
            </div>
            <hr />
        </div>
        <!-- 2nd column -->
        <div class="col-lg-9 col-md-7 col-sm-12" style='background-color:#fff; margin-right: 10px; margin-left: 10px'>
            <br />
            <h4> <span style="padding-top:20px;padding-right: 20px; padding-left:20px;">Courses Teaching</span> </h4>
            <br />
            
            {%for section in teaching %}
            <div class="card" style="margin-bottom:15px;">
            	<div class="card-header">
	            <h5 style="margin:0;padding:0;">
	                {{section.course_id.course_id}} Section {{section.sec_no}} &ndash; {{section.course_id.course_name}}
	            </h5>
	            {%for prof in section.profs%}
	            <strong>
	            	
	            		<a href="mailto:{{prof.email}}">{{prof.name}}</a> 
	            	
	            </strong>&ndash; <span style="margin-right:15px;">{{prof.office_address}}</span>
	            {%endfor%}
	            </div>
	            <div class="card-body">
	            <div id="posttext" class="posttext">{{section.course_id.course_description}}</div>
	            <hr />
	            <h5>Assignments <button type="button" data-toggle="modal" data-target="#add-assignment-modal-{{section.id}}" class="btn btn-sm btn-primary float-right">Add assignment</button></h5>

			  	<div class="modal fade" id="add-assignment-modal-{{section.id}}" tabindex="-1" role="dialog" aria-labelledby="add-assignment-modal-{{section.id}}" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="add-assignment-modal">New assignment</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <form class="add-assignment-form-{{section.id}}">
				       	  <div class="form-group">
				            <label for="assignment-type" class="col-form-label">Assignment Type:</label>
				            <select class="form-control" id="assignment-type" name="assignment_type" required>
						      <option>Homework</option>
						      <option>Exam</option>
						    </select>
				          </div>
				          <div class="form-group">
				            <label for="assignment-number" class="col-form-label">Assignment Number:</label>
				            <input type="number" class="form-control" id="assignment-number" name="assignment_no" required>
				          </div>
				          <div class="form-group">
				            <label for="assignment-details" class="col-form-label">Details:</label>
				            <textarea class="form-control" id="assignment-details" name="assignment_details" required></textarea>
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" id="{{section.id}}" class="addassignment btn btn-primary">Submit</button>
				      </div>
				    </div>
				  </div>
				</div>

	            <br />
	            {%for hw in section.hws%}
	            <details style="margin-bottom:10px;" id="hw-{{hw.id}}">
				    <summary>Homework {{hw.hw_no}}
				    	<span style="font-weight: 600;" class="badge badge-pill badge-info">100 points</span>
				    	<button id="{{hw.id}}" class="deletehw btn btn-sm btn-danger float-right" href="#"><i class="fas fa-trash"></i></button>
				    </summary>
				    <p><div class="card">
					  <div class="card-body">
					    <p class="card-text">{{hw.hw_details}}</p>
					    <details>
					    	<summary>Grades</summary>
					    	<p>
					    		<ul class="list-group list-group-flush">
						    		<form class="update-grades-form-{{section.id}}-{{hw.id}}">
						    		{%for student in section.students%}
							  			<li class="list-group-item">
							  				<abbr data-toggle="tooltip" title="{{student.email}}">{{student.name}}</abbr>

							  				<span class="float-right">
							  					Grade:
							  					<input type="number" value="{{student.hw|key:hw.id}}" id="grade-{{student.id}}" name="{{student.email}}" min="0" max="100">
							  				</span>
							  			</li>
							  		{%endfor%}
							  		<br/>
							  		</form>
								</ul>
								<button id="{{section.id}}-{{hw.id}}" data-assignment-type="Homework" data-assignment-no="{{hw.id}}" data-section="{{section.id}}" type="button" class="updategrades btn btn-primary float-right">Update</button>
							</p>
					    </details>
					    <br/>
					  </div>
					  <div class="card-footer text-muted">
					  	<span class="text-dark">Due: 5/9/2019</span>
					  	<span class="text-light bg-success rounded float-right" style="padding-right:3px;padding-left:3px;">Graded</span>
					  </div>
					</div></p>
				</details>
				{%endfor%}
				<hr />

				{%for exam in section.exams%}
	            <details style="margin-bottom:10px;" id="exam-{{exam.id}}">
				    <summary>Exam {{exam.exam_no}}
				    	<span style="font-weight: 600;" class="badge badge-pill badge-info">100 points</span>
				    	<button id="{{exam.id}}" class="deleteexam btn btn-sm btn-danger float-right"><i class="fas fa-trash"></i></button>
				    </summary>
				    <p><div class="card">
					  <div class="card-body">
					    <p class="card-text">{{exam.exam_details}}</p>
					    <details>
					    	<summary>Grades</summary>
					    	<p>
					    		<ul class="list-group list-group-flush">
						    		<form class="update-grades-form-{{section.id}}-{{exam.id}}">
						    		{%for student in section.students%}
							  			<li class="list-group-item">
							  				<abbr title="{{student.email}}">{{student.name}}</abbr>

							  				<span class="float-right">
							  					Grade: 
							  					<input type="number" value="{{student.exam|key:exam.id}}" id="grade-{{student.email}}" name="{{student.email}}" min="0" max="100">
							  				</span>
							  			</li>
							  		{%endfor%}
							  		<br/>
							  		</form>
								</ul>
								<button id="{{section.id}}-{{exam.id}}" data-assignment-type="Exam" data-assignment-no="{{exam.id}}" data-section="{{section.id}}" type="button" class="updategrades btn btn-primary float-right">Update</button>
							</p>
					    </details>
					  </div>
					  <div class="card-footer text-muted">
					  	<span class="text-dark">Due: 5/9/2019</span>
					  </div>
					  <div></div>

		            <div> </div>
					</div></p>
				</details>
				{%endfor%}

				{%if section.section_type == 'Cap'%}

				<div class="modal fade" id="add-team-modal-{{section.id}}" tabindex="-1" role="dialog" aria-labelledby="add-team-modal-{{section.id}}" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="add-team-modal">New team</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <form class="add-team-form-{{section.id}}">
				          <div class="form-group">
				            <label for="team-id" class="col-form-label">Team ID:</label>
				            <input type="number" class="form-control" id="team-id" name="team_id" required>
				          </div>
				          <div class="form-group">
				            <label for="project-no" class="col-form-label">Project Number:</label>
				            <input type="number" class="form-control" id="project-no" name="project_no" required>
				          </div>
						  <div class="form-group">
				            <label for="assignment-type" class="col-form-label">Team Members:</label>
				            <select size="10" class="form-control" id="assignment-type" name="assignment_type" multiple required>
				            	{%for student in section.students%}
						      <option value="{{student.email}}">{{student.name}} &ndash; {{student.email}}</option>
						      	{%endfor%}
						    </select>
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" id="{{section.id}}" class="addteam btn btn-primary">Submit</button>
				      </div>
				    </div>
				  </div>
				</div>

				<h5 style="margin-top:2rem;">Capstone<button type="button" data-toggle="modal" data-target="#add-team-modal-{{section.id}}" class="btn btn-sm btn-primary float-right">Add team</button></h5>
				<div style="margin-top:2rem;">
					<h6>Team Members <span style="vertical-align: middle;" class="badge badge-success float-right align-middle">Team ID: 1</span></h6>
					<div>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">Cras justo odio</li>
						  <li class="list-group-item">Dapibus ac facilisis in</li>
						  <li class="list-group-item">Morbi leo risus</li>
						  <li class="list-group-item">Porta ac consectetur ac</li>
						  <li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>
					<h6>Sponsor: Dr. Bob Jones</h6>
				</div>
				{%endif%}
	        	</div>
            </div>
            {%endfor%}

            <hr />
        </div>

        <!-- column 3 -->
<!--         <div class="col-md-auto" style='background-color:#fff;'>
            <h4 style="padding-top:20px;"> <span style="padding-right: 20px; padding-left:20px;">Grades</span> </h4>
            {%for section in teaching%}

            	<div class="card" style="margin-bottom:1rem;width: 12rem;">
				  <div class="card-body">
				    <h5 class="card-title">{{section.course_id.course_id}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">{{section.course_id.course_name}}</h6>
				    <p class="card-text">{{section.letter_grade}} &mdash; {{section.grade}}%</p>
				    <a href="#" class="card-link">Details</a>
				  </div>
				</div>

            {%endfor%}
            <hr />
        </div> -->
    </div>
</div>
{% endblock %}