<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

		{% block title %} <title>CanvasPath</title> {% endblock %}
	</head>
	
	<body style="background-color:#edf0f2;"> 
    <div class="alert alert-primary clearfix d-none" role="alert" id="alert">
      <span id="alert-msg"></span><button type="button" class="btn btn-sm btn-primary float-right" onclick="closeAlert();">Close</button>
    </div>

		{% block content %}{% endblock %}

  	<!-- Optional JavaScript -->
  	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>

    <script>
      function alert(message) {
        document.getElementById('alert-msg').innerHTML = message; // set message text
        if (document.getElementById('alert').classList.contains('d-none')) document.getElementById('alert').classList.remove('d-none'); // Display alert-box
      }

      function closeAlert() {
        document.getElementById('alert').classList.add('d-none'); // hide alert-box
        document.getElementById('alert-msg').innerHTML = ''; // reset message
      }

        $(".deletehw").click(function () {
            var hw_id = this.id;
            console.log(hw_id)
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'delete_hw' %}',
                data: {
                  'hw_id': hw_id
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                  $('#hw-' + hw_id).remove();
                },
              });
        });

        $(".deleteexam").click(function () {
            var exam_id = this.id;
            console.log(exam_id)
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'delete_exam' %}',
                data: {
                  'exam_id': exam_id
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                  $('#exam-' + exam_id).remove();
                },
              });
        });


        $(".addassignment").click(function () {
            var sectionID = this.id;
            var form_id = '.add-assignment-form-' + sectionID;
            console.log(sectionID);
            var dataVal = $(form_id).serializeArray();
            dataVal.push({name:'section', value:sectionID});
            console.log(dataVal);
            var data = JSON.stringify(dataVal);
            $(this).attr('disabled', 'disabled');
            $.ajax({
                url: '{% url 'add_assignment' %}',
                data: {
                    'data': data
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    location.reload();
                },
              }).done(function(data) {});
        });
    </script>

	</body>

</html>
